@page
@model Deckollector.Pages.Wishlists.DetailsModel

@{
    ViewData["Title"] = "Wishlist Details";
}

<div class="wrapper">
    <h1>Wishlist Details</h1>

    <div>
        <h4>Wishlist</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Wishlist.WishlistName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Wishlist.WishlistName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Wishlist.WishlistDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Wishlist.WishlistDescription)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Wishlist?.WishlistID" class="custom-link">Edit</a> |
        <a asp-page="./Index" class="custom-link">Back to List</a>
    </div>
</div>
